@charset "ISO-8859-1";

.masterTableDiv{
	width: 85%;
	margin: 0 auto;
	overflow-x: hidden;
}

#myTable{
	width:100%;
	}
	
	.selectTd{
		width:"10%";
	}
	
	.programmeCodeTd{
		width:"17%";
	}
	
	.programmeName{
		width:"28%";
	}
	
	.programmeDirector{
		width:"30%";
	}
	
	.sanctionedOn{
		width:"10%";
	}
	
	
	